//- redirection/error/index.pug
extends ../../layout.pug

block title
  title iglink - Redirection #{username}

block content
  div(id='redirection-container' class='container-fluid')
    div(class='row text-white p-y-150')
      div(class='col-md-12 text-center')
        img(width='150px' src='./public/assets/img/logo.png')
        h1 iglink.co
        h2 :(
        h4 Sorry, there is no link to redirect you...
        div(class='row p-t-20')
          div(class='col-md-4 col-md-offset-4')
            a(href='http://instagram.com/' + username class='btn btn-primary btn-block') Back to Instagram Profile
        script ga('send', 'event', 'redirection', 'redirection_error', '#{username}');
        h5 iglink.co helps Instagram users to have the biography link
        h5 always updated with the link of their last post
  footer(class='text-center p-t-20')
    | created with lots of
    span(class='emoji') ❤️
    b &nbsp;iglink team
    | &nbsp;© 2017
block scripts
  script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js')
